.loginbtn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 490;
    text-decoration: none;
    color: white;
    background-color:#ff4655;
    cursor: pointer;
    transition:all 0.5s;
    border: 2px solid #ff4655;
    box-shadow: inset 0 0 0 0 #ff4655;
  }
  
  .loginbtn:hover {
    color: #ff4655;
    border: 2px solid #ff4655;
    box-shadow: inset 0 -100px 0 0 white;
  }
  
  .loginbtn:active {
    transform: scale(0.9);
  }

  .signupbtn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 490;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    background:transparent;
    cursor: pointer;
    transition:all 0.5s;
    border: 2px solid #ccc;
  }
  
  .signupbtn:hover {
    color:white;
    border: 2px solid #ff4655;
    background-color: #ff4655;
    box-shadow: inset 0 -100px 0 0 #ff4655;
  }
  
  .signupbtn:active {
    transform: scale(0.9);
  }