@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
}

.fw-semibold {
    font-weight: 400;
}

.small {
    font-size: 12px;
}

.medium {
    font-size: 15.7px;
}

.normal {
    font-size: 17px;
}

.big {
    font-size: 20px;
}

i {
    cursor: pointer;
    color: #747474;
    transition: all 0.5s ease-in-out;
}

i:hover {
    color: #df6447;
}

.offcanvas-body.dropbox {
    min-height: 480px !important;
    /* Set desired height */
    overflow-y: auto;
    /* Enable vertical scroll if content overflows */
}

.stylefont{
    font-family: "Briem Hand", cursive;
}
.sec-pad{
    padding-top: 40px;
}
.watchcard p{
    transition: all 0.5s;
}
.watchcard p:hover{
  text-decoration: underline;
}